.custom-card {
    border: 1px solid #ACB6DA !important;
    background-color: #fff !important;
    border-radius: 15px !important;
}

.card.custom-card .card-header {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

#attribution-sold-datatable thead tr{
    background: #f9faff;
    color: #808ebb;
    border-top: 1px solid #cbd1e6;
    border-bottom: 1px solid #cbd1e6;
}

#attribution-sold-datatable.stripe>tbody>tr:nth-child(odd)>*, #attribution-sold-datatable.display>tbody>tr:nth-child(odd)>* {
    box-shadow: none;
    background: #fff;
    color: #214393;
    border: none;
    padding: 20px 10px;
}

#attribution-sold-datatable.stripe>tbody>tr:nth-child(even)>*, #attribution-sold-datatable.display>tbody>tr:nth-child(even)>* {
    box-shadow: none;
    background: #f7f8fe;
    color: #214393;
    border: none;
    padding: 20px 10px;
}

#attribution-sold-datatable>thead>tr>th, table.dataTable>thead>tr>td{
    border: none
}

#attribution-sold-datatable_wrapper.dt-container .dt-paging{
    padding-right: 20px;
}

#attribution-sold-datatable_wrapper.dt-container .dt-paging .dt-paging-button{
    background: #ffffff;
    border: 1px solid #eaebec;
    color: #214393;
    border-radius: 10px;
    padding: 10px 15px;
    margin-left: 10px;
}

#attribution-sold-datatable_wrapper.dt-container .dt-paging .dt-paging-button.disabled{
    color: #9599ae;
}

#attribution-sold-datatable_wrapper.dt-container .dt-paging .dt-paging-button.current,#attribution-sold-datatable_wrapper.dt-container .dt-paging .dt-paging-button.current:hover{
    background: #214393;
    color: #fff !important;
}

.btn-main{
    border-radius: 10px !important;
    --bs-btn-bg: #ff7946 !important;
    --bs-btn-border-color: #ff7946 !important;
    --bs-btn-color: #ffffff !important;
    padding: 10px 40px !important;
}

.btn-main-outline{
    border-radius: 10px !important;
    --bs-btn-bg: #fff5f1 !important;
    --bs-btn-border-color: #ff7946 !important;
    --bs-btn-color: #ff7946 !important;
    padding: 10px 40px !important;
}

.search-wrapper{
    position: relative;
    padding: 5px;
    border: 1px solid #c1c6d8;
    border-radius: 10px;
    padding-right: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.search-wrapper .search-input{
    width: 100%;
    border: none;
    outline: none
}

.search-icon{    
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7946;
    color: #ffffff;
    border-radius: 10px; 
}

.custom-modal .modal-header{
    border-color: #cbd1e6;
}

.custom-modal .modal-title{
    color: #214393;
}

.custom-modal .modal-content{
    border: none;
    color: #214393;
    border-radius: 10px;
}

.custom-input{
    border-radius: 10px !important;
    border: 1px solid #c1c7d7 !important;
    padding: 10px !important;
}

.badge-main{
    background: #fff5f1 !important;
    color: #ff7946 !important;
}

.btn-icon{
    height: 35px;
    width: 35px;
    border-radius: 10px;
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center
}

.btn-icon-main{
    background: #e9efff !important;
    color: #214393 !important;
}

.btn-icon-secondary{
    background: #fff5f1 !important;
    color: #ff7946 !important;
}

.header-icon{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1aa5f7;
    background: #e6f4ff;
}