*{
font-family: Lato;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000 !important;
}
.conteneur{
    width: 55%;
    height: auto;
    background-color: #f7f7f7  !important;
    border: 2px solid #dadada !important;
}
.conteneur-resetPassword{
    width: 32%;
    height: auto;
    background-color: #f7f7f7  !important;
    border: 2px solid #dadada !important;
}
.conteneur-inscription{
    width: 65%;
    height: auto;
    background-color: #DAE7F2 !important;
}
h2{
    font-family: Raleway;
    font-weight: bold !important;
}
.form-control{
    font-family: Raleway;
}
.image-connexion{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-left: 2px solid #FF891D;
    background-color: #fff1e4;
    border-radius: 20px 0.20rem 0.20rem 20px;
}
.image{
    height: 100%;
    width: 100%;
}
.image1{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-logo{
    background-size: cover;
    margin: auto;
}
.image-inscription{
    height: 100%;
    width: 100%;
    border-radius: 20px 0.375rem 0.375rem 20px;
    background-image: url(./images/logoccin.jpg);
    background-size: cover;
}
.btn-bleu{
    background: #2f8bcb  !important;
    color: white !important;
    font-weight: bold !important;
}
.btn-bleu:hover{
    background: #1e94e7 !important;
}
.register-link {
    color: #FF7A00;
    text-decoration: none; /* Pour supprimer le soulignement du lien */
}
.register-link:hover {
color: #E4740D; /* Couleur lors du survol */
}

.alert {
    padding: 0.5rem 0.5rem !important;
    margin-bottom: 0px !important;
}
.resetPassword-image{
    height: 160px;
    width: 200px;
}