
body {
    font-size: 13px;
    font-weight: 300;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    color: #2d232e;
    background-color: #eef8ff;
    position: relative;
    display:flex;
    align-items:center;
}

@media(max-width: 767px) {
    .sidebar .nav-links li .sub-menu a.link_name.titre{
        display: none;
    }
    #side_nav {
        margin-left: -260px;
        position: fixed;
        min-height: 100vh;
        z-index: 200;
    }
        #side_nav.active {
            margin-left: 0;
        }
    .sidebar.close ~ .home-section {
        left: 0px !important;
        width: calc(100% - 0px) !important;
    }
    .home-section {
        left: 0px;
        width: calc(100% - 0px);
    }
    .cache-element{
        display:none !important;
    }
    .align-horiz{
        display:flex;
    }
    .navbar {
        background: #B6E0FE;
        --bs-breadcrumb-divider: '>';
        position: fixed;
        width: 100% !important;
        top: auto;
    }
    .sidebar_close {
        position: absolute !important;
        margin-left: 0px !important;
    }
    .sidebar_close1 {
        margin-left: -260px !important;
    }
    .home_section_close {
        width: 100% !important;
        left: 0px !important;
    }
    .btn-ferme {
        display: block ;
    }
    .navbar-close1 {
        width: 100% !important;
    }
}
.btn-ferme{
    display:none !important;
}
* {
    /*background: #4098D7;#F5F5F5*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-logo{
    border-radius: 12px;
    height: 70px;
    width: 70px;
    /* background-image: url(/img/Dgi.jpeg); */
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #045e9e;
    z-index: 200;
}
/*background: #4098D7;*/
.sidebar.close {
    width: 78px !important;
}
.sidebar .logo-details{
    font-size:30px;
    color:#fff;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar.close .logo-details{
    align-items: center;
    justify-content: center;
}
.sidebar .logo-details i{
    font-size:30px;
    color:#FFF;
    height:50px;
    min-width:78px;
    text-align:center;
    line-height:50px;
    /*cursor:pointer;*/
}
.sidebar .logo_name {
    font-size: 16px;
    text-align: center;
    color: #FFF;
    display: flex;
    font-weight: 500;
    transition:0.3s ease;
    transition-delay: 0.1s;

}
.sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    display: none;
    pointer-events:none;
}
.sidebar .nav-links{
    height:100%;
    padding-top:40px;
    padding-left:0 !important;
    overflow:auto;
}
.nav-links::-webkit-scrollbar {
    width: 10px;
}

.nav-links::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Couleur de la barre de défilement */
    border-radius: 10px; /* Arrondir les coins de la barre */
}

.nav-links::-webkit-scrollbar-track {
    background-color: transparent !important; /* Couleur de l'arrière-plan de la scrollbar */
}

.sidebar .nav-links li{
    position:relative;
    list-style:none;
    transition: all 0.4s ease;
    margin-bottom: 8px;
    border-radius: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.sidebar .nav-links li.footer{
    margin-left: 0px;
    margin-right: 0px;
}
.sidebar .nav-links li:hover{

}
    .sidebar .nav-links li.item:hover {
        background: #FF891D;
    }

.sidebar .nav-links li:hover {
    /* background: #224880; */
    border-radius: 14px;
}
    .sidebar .nav-links li:hover .sub-menu{
    }
    .sidebar .nav-links li a.titre{
        display: none !important;
    }
    .sidebar .nav-links li:hover.footer {
        margin-left: 0px;
    }




/* Style pour le <li> avec la classe "item showMenu" lorsqu'il y a un <li class="active"> dans le sous-menu */
.sidebar .nav-links li.item.showMenu ul.sub-menu li.active {
    font-weight: bold; /* Texte en gras pour l'élément actif */
    background-color: #ffac60 !important;
}

/* Style pour le <li class="item showMenu"> lorsque le sous-menu a un <li> actif */
.sidebar .nav-links li.item.showMenu ul.sub-menu li.active ~ li {
    font-weight: normal; /* Les autres ne sont pas en gras */
}

/*.sidebar .nav-links li.item.showMenu {*/
/*    background: #f4713d !important;*/
/*    border-radius: 14px;*/
/*}*/
.sidebar .nav-links li.item ul.sub-menu{
    background-color: transparent !important;
}
.sidebar .nav-links li.item.showMenu ul.sub-menu li.active .nav-link{
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.sidebar .nav-links li.item.showMenu ul.sub-menu li.active .nav-link i{
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.sidebar .nav-links li.item ul.sub-menu li{
    background-color: transparent !important;
}
/* Cible l'élément <li class="item"> contenant un sous-élément <li> avec la classe active */
.sidebar .nav-links li.item:has(ul.sub-menu li.active) {
    background-color: #FF891D; /* Exemple de style : changer le fond en orange */
    border-radius: 14px; /* Ajout d'un arrondi au style */
}
/* Change la couleur des éléments <a> et <i> à l'intérieur */
.sidebar .nav-links li.item:has(ul.sub-menu li.active) a,
.sidebar .nav-links li.item:has(ul.sub-menu li.active) .link_name,
.sidebar .nav-links li.item:has(ul.sub-menu li.active) i {
    color: #f5f5ff; /* Applique une couleur blanche */
}
.sidebar .nav-links li.item  a .link_name:has(ul.sub-menu li.active) a{
    color: #f5f5ff !important;
}

.sidebar .nav-links li.item.active {
        background: #FF891D !important;
         border-radius: 14px;
        color: white;
    }

        .sidebar .nav-links li.active .sub-menu {
            margin-left: 0px;
            margin-right: 0px;
        }
    .sidebar .nav-links li .iocn-link {
        display: flex;
        background-color:transparent;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        cursor: pointer; /* Rend le bloc cliquable */
    }
.sidebar .nav-links li i {
    height: 50px;
    /*margin-right:1rem;*/
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.sidebar .nav-links li i.sub-menu-i {
    min-width: 38px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.sidebar .nav-links li:hover i.menu {
    padding-right: 20px;
}
.sidebar .nav-links li.active i{
    color: #fff;
}
.sidebar .nav-links li i.arrow {
    position: absolute;
    right: 0px;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}
.sidebar .nav-links li a{
    display:flex;
    align-items:center;
    text-decoration:none;
}
.sidebar .nav-links li a .link_name{
    font-size:15px;
    font-weight:400;
    color:#ffffff;
    margin-right: 14px;
}
.sidebar .nav-links li.active a .link_name{
    font-size:15px;
    font-weight:400;
    color:#fff;
}
    .sidebar .nav-links li .sub-menu {
        padding: 6px 6px 14px 5px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 0 0 14px 14px;
        margin-right: 0;
        background: #223b89;
        display: none;
    }
.ferme {
    display: none !important;
}
.ouvert {
    display: block !important;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display:block;
}
.sidebar .nav-links li .sub-menu a {
    color: #ffffff;
    font-size: 13px;
    padding:0px 0;
    white-space:nowrap;
    opacity:1;
    transition:all 0.3 ease;
}
.sidebar .nav-links li .sub-menu .bor_bottom {
    display: none;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
    font-weight: bold;
}
.sidebar .nav-links li .sub-menu.link_name{
    display:none;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity:1;
    pointer-events:auto;
    padding:3px 20px 0px 16px;
    opacity:0;
    pointer-events: none;
    /*transition:0s;*/
}
.sidebar .nav-links li:hover .sub-menu.blank {
    top:50%;
    transform: translateY(-50%);
}









.search-wrapper{
    position: relative;
    padding: 5px;
    border: 1px solid #c1c6d8;
    border-radius: 10px;
    padding-right: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.search-wrapper .search-input{
    width: 100%;
    border: none;
    outline: none
}

.search-icon{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7946;
    color: #ffffff;
    border-radius: 10px;
}








custom-card {
    border: 1px solid #ACB6DA !important;
    background-color: #fff !important;
    border-radius: 15px !important;
}

.card.custom-card .card-header {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

input {
    width: 100%;
    padding: 0.5em !important;
    margin: 0em !important;
    box-sizing: border-box;
}

.btn-main{
    border-radius: 10px !important;
    --bs-btn-bg: #ff7946 !important;
    --bs-btn-border-color: #ff7946 !important;
    --bs-btn-color: #ffffff !important;
    padding: 10px 40px !important;
}

.btn-main-outline{
    border-radius: 10px !important;
    --bs-btn-bg: #fff5f1 !important;
    --bs-btn-border-color: #ff7946 !important;
    --bs-btn-color: #ff7946 !important;
    padding: 10px 40px !important;
}

.search-wrapper{
    position: relative;
    padding: 5px;
    border: 1px solid #c1c6d8;
    border-radius: 10px;
    padding-right: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.search-wrapper .search-input{
    width: 100%;
    border: none;
    outline: none
}

.search-icon{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7946;
    color: #ffffff;
    border-radius: 10px;
    border: 0px;
}

.custom-modal .modal-header{
    border-color: #cbd1e6;
}

.custom-modal .modal-title{
    color: #214393;
}

.custom-modal .modal-content{
    border: none;
    color: #214393;
    border-radius: 10px;
}

.custom-input{
    border-radius: 10px !important;
    border: 1px solid #c1c7d7 !important;
    padding: 10px !important;
}

.badge-main{
    background: #fff5f1 !important;
    color: #ff7946 !important;
}

.btn-icon{
    height: 35px;
    width: 35px;
    border-radius: 10px;
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center
}

.btn-icon-main{
    background: #e9efff !important;
    color: #214393 !important;
}

.btn-icon-secondary{
    background: #fff5f1 !important;
    color: #ff7946 !important;
}

.header-icon{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1aa5f7;
    background: #e6f4ff;
}






.menu-container .nav-links{
    height: 70vh;
    padding-top:10px;
    padding-left:0 !important;
    overflow:auto;
}
.menu-container .nav-links li{
    position:relative;
    list-style:none;
    transition: all 0.4s ease;
    margin-bottom: 8px;
    border-radius: 14px;
    background: #223b89;
    margin-left: 10px;
    margin-right: 10px;
}
.menu-container .nav-links li:hover{

}
.menu-container .nav-links li.item:hover {
    background: #FF891D;
}

.menu-container .nav-links li:hover {
    /* background: #224880; */
    border-radius: 14px;
}
.menu-container .nav-links li:hover .sub-menu{
}
.menu-container .nav-links li a.titre{
    display: none !important;
}
.menu-container.close .nav-links li a.titre{
    display: block !important;
}
.menu-container .nav-links li:hover.footer {
    margin-left: 0px;
}




/* Style pour le <li> avec la classe "item showMenu" lorsqu'il y a un <li class="active"> dans le sous-menu */
.menu-container .nav-links li.item.showMenu ul.sub-menu li.active {
    font-weight: bold; /* Texte en gras pour l'élément actif */
    background-color: #ff895d !important;
}

/* Style pour le <li class="item showMenu"> lorsque le sous-menu a un <li> actif */
.menu-container .nav-links li.item.showMenu ul.sub-menu li.active ~ li {
    font-weight: normal; /* Les autres ne sont pas en gras */
}

/*.sidebar .nav-links li.item.showMenu {*/
/*    background: #f4713d !important;*/
/*    border-radius: 14px;*/
/*}*/
.menu-container .nav-links li.item ul.sub-menu{
    background-color: transparent !important;
}
.menu-container .nav-links li.item.showMenu ul.sub-menu li.active .nav-link{
    font-weight: bold;
    color: white;
}
.menu-container .nav-links li.item.showMenu ul.sub-menu li.active .nav-link i{
    font-weight: bold;
    color: white;
}
.menu-container .nav-links li.item ul.sub-menu li{
    background-color: transparent !important;
}
/* Cible l'élément <li class="item"> contenant un sous-élément <li> avec la classe active */
.menu-container .nav-links li.item:has(ul.sub-menu li.active) {
    background-color: #f4713d; /* Exemple de style : changer le fond en orange */
    border-radius: 14px; /* Ajout d'un arrondi au style */
}
/* Change la couleur des éléments <a> et <i> à l'intérieur */
.menu-container .nav-links li.item:has(ul.sub-menu li.active) a,
.menu-container .nav-links li.item:has(ul.sub-menu li.active) .link_name,
.menu-container .nav-links li.item:has(ul.sub-menu li.active) i {
    color: #f5f5ff; /* Applique une couleur blanche */
}
.menu-container .nav-links li.item  a .link_name:has(ul.sub-menu li.active) a{
    color: #f5f5ff !important;
}

.menu-container .nav-links li.menu.active {
    background: #f4713d !important;
    border-radius: 14px;
    color: white;
}

.menu-container .nav-links li.active .sub-menu {
    margin-left: 0px;
    margin-right: 0px;
}
.menu-container .nav-links li .iocn-link {
    display: flex;
    background-color:transparent;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    cursor: pointer; /* Rend le bloc cliquable */
}
.menu-container .nav-links li i {
    height: 50px;
    /*margin-right:1rem;*/
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #6d8df0;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-container .nav-links li i.sub-menu-i {
    min-width: 38px;
    text-align: center;
    line-height: 50px;
    color: #6d8df0;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-container .nav-links li:hover i.menu {
    padding-right: 20px;
}
.menu-container .nav-links li.active i{
    color: #fff;
}
.menu-container .nav-links li i.arrow {
    position: absolute;
    right: 0px;
}

.menu-container .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}
.menu-container .nav-links li a{
    display:flex;
    align-items:center;
    text-decoration:none;
}
.menu-container .nav-links li a .link_name{
    font-size:15px;
    font-weight:400;
    color:#6d8df0;
}
.menu-container .nav-links li.active a .link_name{
    font-size:15px;
    font-weight:400;
    color:#fff;
}
.menu-container .nav-links li .sub-menu {
    padding: 6px 6px 14px 5px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 0 0 14px 14px;
    margin-right: 0;
    background: #223b89;
    display: none;
}
.ferme {
    display: none !important;
}
.ouvert {
    display: block !important;
}
.menu-container .nav-links li.showMenu .sub-menu{
    display:block;
}
.menu-container .nav-links li .sub-menu a {
    color: #6d8df0;
    font-size: 13px;
    padding:0px 0;
    white-space:nowrap;
    opacity:1;
    transition:all 0.3 ease;
}
.menu-container .nav-links li .sub-menu .bor_bottom {
    display: none;
}
.menu-container .nav-links li .sub-menu a:hover {
    opacity: 1;
    font-weight: bold;
}
.menu-container .nav-links li .sub-menu.link_name{
    display:none;
}
.menu-container .nav-links li .sub-menu.blank{
    opacity:1;
    pointer-events:auto;
    padding:3px 20px 0px 16px;
    opacity:0;
    pointer-events: none;
    /*transition:0s;*/
}
.menu-container .nav-links li:hover .sub-menu.blank {
    top:50%;
    transform: translateY(-50%);
}










.search-wrapper{
    position: relative;
    padding: 5px;
    border: 1px solid #c1c6d8;
    border-radius: 10px;
    padding-right: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.search-wrapper .search-input{
    width: 100%;
    border: none;
    outline: none
}

.search-icon{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7946;
    color: #ffffff;
    border-radius: 10px;
}








custom-card {
    border: 1px solid #ACB6DA !important;
    background-color: #fff !important;
    border-radius: 15px !important;
}

.card.custom-card .card-header {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

input {
    width: 100%;
    padding: 0.5em !important;
    margin: 0em !important;
    box-sizing: border-box;
}

.btn-main{
    border-radius: 10px !important;
    --bs-btn-bg: #ff7946 !important;
    --bs-btn-border-color: #ff7946 !important;
    --bs-btn-color: #ffffff !important;
    padding: 10px 40px !important;
}

.btn-main-outline{
    border-radius: 10px !important;
    --bs-btn-bg: #fff5f1 !important;
    --bs-btn-border-color: #ff7946 !important;
    --bs-btn-color: #ff7946 !important;
    padding: 10px 40px !important;
}

.search-wrapper{
    position: relative;
    padding: 5px;
    border: 1px solid #c1c6d8;
    border-radius: 10px;
    padding-right: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.search-wrapper .search-input{
    width: 100%;
    border: none;
    outline: none
}

.search-icon{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7946;
    color: #ffffff;
    border-radius: 10px;
    border: 0px;
}

.custom-modal .modal-header{
    border-color: #cbd1e6;
}

.custom-modal .modal-title{
    color: #214393;
}

.custom-modal .modal-content{
    border: none;
    color: #214393;
    border-radius: 10px;
}

.custom-input{
    border-radius: 10px !important;
    border: 1px solid #c1c7d7 !important;
    padding: 10px !important;
}

.badge-main{
    background: #fff5f1 !important;
    color: #ff7946 !important;
}

.btn-icon{
    height: 35px;
    width: 35px;
    border-radius: 10px;
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center
}

.btn-icon-main{
    background: #e9efff !important;
    color: #214393 !important;
}

.btn-icon-secondary{
    background: #fff5f1 !important;
    color: #ff7946 !important;
}

.header-icon{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1aa5f7;
    background: #e6f4ff;
}






.menu-container .nav-links{
    height: 70vh;
    padding-top:10px;
    padding-left:0 !important;
    overflow:auto;
}
.menu-container .nav-links li{
    position:relative;
    list-style:none;
    transition: all 0.4s ease;
    margin-bottom: 8px;
    border-radius: 14px;
    background: #223b89;
    margin-left: 10px;
    margin-right: 10px;
}
.menu-container .nav-links li:hover{

}
.menu-container .nav-links li.item:hover {
    background: #223b89;
}

.menu-container .nav-links li:hover {
    /* background: #224880; */
    border-radius: 14px;
}
.menu-container .nav-links li:hover .sub-menu{
}
.menu-container .nav-links li a.titre{
    display: none !important;
}
.menu-container.close .nav-links li a.titre{
    display: block !important;
}
.menu-container .nav-links li:hover.footer {
    margin-left: 0px;
}




/* Style pour le <li> avec la classe "item showMenu" lorsqu'il y a un <li class="active"> dans le sous-menu */
.menu-container .nav-links li.item.showMenu ul.sub-menu li.active {
    font-weight: bold; /* Texte en gras pour l'élément actif */
    background-color: #ff895d !important;
}

/* Style pour le <li class="item showMenu"> lorsque le sous-menu a un <li> actif */
.menu-container .nav-links li.item.showMenu ul.sub-menu li.active ~ li {
    font-weight: normal; /* Les autres ne sont pas en gras */
}

/*.sidebar .nav-links li.item.showMenu {*/
/*    background: #f4713d !important;*/
/*    border-radius: 14px;*/
/*}*/
.menu-container .nav-links li.item ul.sub-menu{
    background-color: transparent !important;
}
.menu-container .nav-links li.item.showMenu ul.sub-menu li.active .nav-link{
    font-weight: bold;
    color: white;
}
.menu-container .nav-links li.item.showMenu ul.sub-menu li.active .nav-link i{
    font-weight: bold;
    color: white;
}
.menu-container .nav-links li.item ul.sub-menu li{
    background-color: transparent !important;
}
/* Cible l'élément <li class="item"> contenant un sous-élément <li> avec la classe active */
.menu-container .nav-links li.item:has(ul.sub-menu li.active) {
    background-color: #f4713d; /* Exemple de style : changer le fond en orange */
    border-radius: 14px; /* Ajout d'un arrondi au style */
}
/* Change la couleur des éléments <a> et <i> à l'intérieur */
.menu-container .nav-links li.item:has(ul.sub-menu li.active) a,
.menu-container .nav-links li.item:has(ul.sub-menu li.active) .link_name,
.menu-container .nav-links li.item:has(ul.sub-menu li.active) i {
    color: #f5f5ff; /* Applique une couleur blanche */
}
.menu-container .nav-links li.item  a .link_name:has(ul.sub-menu li.active) a{
    color: #f5f5ff !important;
}

.menu-container .nav-links li.menu.active {
    background: #f4713d !important;
    border-radius: 14px;
    color: white;
}

.menu-container .nav-links li.active .sub-menu {
    margin-left: 0px;
    margin-right: 0px;
}
.menu-container .nav-links li .iocn-link {
    display: flex;
    background-color:transparent;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    cursor: pointer; /* Rend le bloc cliquable */
}
.menu-container .nav-links li i {
    height: 50px;
    /*margin-right:1rem;*/
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #6d8df0;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-container .nav-links li i.sub-menu-i {
    min-width: 38px;
    text-align: center;
    line-height: 50px;
    color: #6d8df0;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-container .nav-links li:hover i.menu {
    padding-right: 20px;
}
.menu-container .nav-links li.active i{
    color: #fff;
}
.menu-container .nav-links li i.arrow {
    position: absolute;
    right: 0px;
}

.menu-container .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}
.menu-container .nav-links li a{
    display:flex;
    align-items:center;
    text-decoration:none;
}
.menu-container .nav-links li a .link_name{
    font-size:15px;
    font-weight:400;
    color:#6d8df0;
}
.menu-container .nav-links li.active a .link_name{
    font-size:15px;
    font-weight:400;
    color:#fff;
}
.menu-container .nav-links li .sub-menu {
    padding: 6px 6px 14px 5px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 0 0 14px 14px;
    margin-right: 0;
    background: #223b89;
    display: none;
}
.ferme {
    display: none !important;
}
.ouvert {
    display: block !important;
}
.menu-container .nav-links li.showMenu .sub-menu{
    display:block;
}
.menu-container .nav-links li .sub-menu a {
    color: #6d8df0;
    font-size: 13px;
    padding:0px 0;
    white-space:nowrap;
    opacity:1;
    transition:all 0.3 ease;
}
.menu-container .nav-links li .sub-menu .bor_bottom {
    display: none;
}
.menu-container .nav-links li .sub-menu a:hover {
    opacity: 1;
    font-weight: bold;
}
.menu-container .nav-links li .sub-menu.link_name{
    display:none;
}
.menu-container .nav-links li .sub-menu.blank{
    opacity:1;
    pointer-events:auto;
    padding:3px 20px 0px 16px;
    opacity:0;
    pointer-events: none;
    /*transition:0s;*/
}
.menu-container .nav-links li:hover .sub-menu.blank {
    top:50%;
    transform: translateY(-50%);
}

.sidebar .footer-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0873c0;
    padding: 10px 0;
}
.sidebar.close .footer-details {
    background: none;
    margin-bottom: 6px;
}
.sidebar.close .footer-details{
    width:78px;
}
.sidebar .footer-details .footer-content {
    display: flex;
    align-items: center;
    /*margin-left: 1rem;*/
}
.sidebar.close .footer-details .footer-content {
    display: flex;
    align-items: center;
    border-radius: 16px;

    background: #0071c2;
    /*margin-left: 1rem;*/
}
.sidebar.close .footer-details .footer-content {
    /*margin-left: 6px;*/
}
/*.sidebar.close .footer-details .footer-content:hover {
    min-width: 78px;
}*/
    .sidebar .footer-details li a{

    }
    .sidebar.close .footer-details img {
        /*height: 25px;
        width: 25px;*/
        object-fit: cover;

        margin: 2px 2px 2px 6px;
        transition: all 0.5s ease;
    }
    .sidebar .footer-details img {
        height: 25px;
        width: 25px;
        object-fit: cover;

        margin: 0 14px 0 14px;
        transition: all 0.5s ease;
    }
.sidebar.close .footer-details img {
    padding: 5px;
    height: 35px;
    width: 35px;
}
.sidebar .footer-details .footer_name,
.sidebar .footer-details .job{
    color:#FFF;
    font-size:14px;
    font-weight:500;
    white-space:nowrap;
}
.sidebar.close .footer-details i,
.sidebar.close .footer-details .footer_name,
.sidebar.close .footer-details .job{
    display:none;
}
.sidebar .footer-details .job{
    font-size:12px;
}
.home-section {
    position: relative;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5 ease !important;
}
.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .navbar {
    z-index:100;
    background: #fff;
    --bs-breadcrumb-divider: '>';
    position: fixed;
    top: auto;
    width: calc(100% - 78px);
}
.navbar-close {
    width: calc(100% - 78px) !important;
}
.navbar-open {
    width: calc(100% - 260px) !important;
}
.home-section .home-content{
    /*height:60px;*/
    display:flex;
    align-items:center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color:#11101d;
    font-size:35px;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor:pointer;
}
.home-section .home-content .text{
    font-size:16px;
    font-weight:600;
}


.rotate-icon {
    transition: transform 0.3s ease; /* Ajoute une transition fluide */
}

.normal-rotated {
    transform: rotate(0deg);
}
.rotated {
    transform: rotate(180deg);
}
.trline {
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

    .list .trline td {
        padding-top: 0em;
        padding-bottom: 0em;
    }
    .trline td {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
.trline th {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.card-index{
    margin: 1em;
padding: 1em;
border-radius: 0.4em;
background-color: #FFF;
}

.leftbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 160px;
    background-color: cadetblue;
    z-index: 200;
}
/*background: #4098D7;*/
.leftbar.close {
    width: 0px !important;
}




.sidebar .profile{
    font-size:30px;
    color:#fff;
    display:flex;
    align-items:center;
    background-color: #fff2e6;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
}
.sidebar.close .profile{
    align-items: center;
    justify-content: center;
}
.sidebar .profile i{
    font-size:30px;
    color:#FFF;
    height:50px;
    min-width:78px;
    text-align:center;
    line-height:50px;
    /*cursor:pointer;*/
}
.sidebar .profile .profile_name {
    font-size: 14px;
    text-align: center;
    color: #045e9e;
    font-weight: 700;
    transition:0.3s ease;
    transition-delay: 0.1s;

}
.sidebar.close .profile .profile_name{
    transition-delay: 0s;
    display: none;
    pointer-events:none;
}
.img-profile{
    border-radius: 12px;
    width: 35px;
    /* background-image: url(/img/Dgi.jpeg); */
}
.notification{
    border-radius: 7px;
    background-color: #eee;
    padding: 2px 6px;
}

.navbar-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.trline {
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

    .list .trline td {
        padding-top: 0em;
        padding-bottom: 0em;
    }
    .trline td {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
.trline th {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
table tbody tr:hover{
    background-color: #eee;
}
table tbody tr{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.searchbar {
    width: 260px;
    outline: none;
    border-radius: 10px;
    display: block;
    padding: 4px 4px 4px 40px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='bi bi-search' viewBox='0 0 24 24'%3E%3Cpath d='M10 5C7.23858 5 5 7.23858 5 10C5 12.7614 7.23858 15 10 15C11.381 15 12.6296 14.4415 13.5355 13.5355C14.4415 12.6296 15 11.381 15 10C15 7.23858 12.7614 5 10 5ZM3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 11.5719 16.481 13.0239 15.6063 14.1921L20.7071 19.2929C21.0976 19.6834 21.0976 20.3166 20.7071 20.7071C20.3166 21.0976 19.6834 21.0976 19.2929 20.7071L14.1921 15.6063C13.0239 16.481 11.5719 17 10 17C6.13401 17 3 13.866 3 10Z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.notification{
    border-radius: 7px;
    background-color: #eee;
    padding: 2px 6px;
}
.position-text-action {
    margin-right: 2.9rem !important;
}
.btn-custom-primary{
    background-color: #FF7A00 !important;
    color: white !important;
    font-weight: 500 !important;
}
.btn-custom-primary:hover{
    color: white !important;
    background-color: #FF7A33 !important;
}

.sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 5%;
    border-radius: 12px;
    background-color: #0071c2;
    margin-top: 5%;
    overflow: hidden;
}
.sidebar .logo img {
    height: 70%;
    width: 30% !important;
    object-fit: fill;
}